.dropdown {
    display: flex;
    justify-content: center;
    float: left;
  
    margin-top: 10px;
    margin-right: 5px;                     
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    border-style: none;
 
  
    font-size: 15px;
    color: #1f1d1d;
    text-decoration: none;
  
    background-color: #dfdfdf;
    box-shadow: inset 0px 0px 5px -2px #d6c6c6;
    cursor: pointer;
  
  }

  .sortby {
    width: 150px;
  }

  .button {
    display: flex;
    justify-content: center;
  
    margin-top: 25px;
    width: 125px;
    padding: 10px;
    border-radius: 3px;
    border-style: none;
  
    font-size: 20px;
    color: #d6c6c6;
    text-decoration: none;
  
    background-color: #2e2c2c;
    box-shadow: inset 0px 0px 5px -2px #000000;
    cursor: pointer;
  
  }

  .input {
    display: flex;
  
    padding: 7px;
  
    border-style: none;
    border-radius: 3px;
    width: 100%;
  
    font-size: 18px;
    box-shadow: inset 0px 0px 5px -2px #000000;
    background-color: #f5f5f5;
  }

  .label {
    margin: 20px 0px 2px 0px;
    display: flex;
    font-size: 23px;
  }

  .row {
    content: "";
    display: table;
    clear: both;
  }

  .row-50:after {
    content: "";
    display: table;
    clear: both;
    width: 49.999%;
    float: center;
  }

  .column-20 {
    float: left;
    width: 29.9999%;
    padding: 10px;
  }

  .column-50 {
    float: left;
    width: 49.9999%;
    padding: 10px;
  }
  .column-80 {
    float: left;
    width: 69.9999%;
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  .cont {
    padding: 5px;
    font-size: 18px;
  }

  .search_choise {
    justify-content: center;
    float: left;
    width: 100%;
  }

  .adv {
    background-color: #fdfdfd;
    cursor: pointer;
    width: 160px;
    float: right;
  }

  .search_box {
    width: 70%;
    justify-content: center;
    margin: auto;
  }

  .h2 {
    padding-top: 25px;
  }